form(method='post', action='/account/signin')
  p
    input(type='email', name='email', placeholder="Email")
  p
    input(type='password', name='password', placeholder="Password")
  p
    label Remember
      input(type='checkbox', name='remember')
  p
    button(type='submit') 提交

